/* Reset */
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   border: 0;
}
a{
   text-decoration: none;
   color: #9F7657;
}
a:hover{
   color: #000000;
}
/* Typos */
#logo{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}
html {
   font-size: 18px;
}

body {
   font-family: 'Poppins', sans-serif;
   line-height: 1.55;
   color: rgb(60, 58, 71);
   background-color:white ;
}
h1{
   font-weight: 700;
   font-size: 57px;
   letter-spacing: -3px;
}
h2{
   font-size: 32px;
   letter-spacing: -2px;
   color:rgba(60, 58, 71,.8);
   font-weight: 275;
}
h3{
   color: rgb(60, 58, 71);
   font-size: 43px;
   letter-spacing: -3px;
   font-weight: 700;
   margin-bottom: 2rem;
}
h4.number{
   font-weight: 275;
   font-size: 43px;
   color: rgba(60, 58, 71, 0.502);
   margin: 10px,0px,15px;
}
h4{
   color: rgb(60, 58, 71);
   margin:10px,0px, 10px;
}
p{
   font-weight: 400;
   font-size: 18px;
   color: rgb(60, 58, 71);
}
h2.phone{
   font-weight: 700;
   font-size: 57px;
   letter-spacing: -3px;
   color:rgb(60, 58, 71);
}
#dark{
   background-color:rgb(60, 58, 71);
   color: #FFFFFF;
}
#dark p{
   font-style: italic;
   color:rgba(255, 255, 255,.5);
}
.contact_title{
   color:rgba(255, 255, 255,.8);
   font-weight: 275;
   font-size: 18px;
   letter-spacing: 2px;
}
.copyright{
   font-weight: 700;
   color: rgb(60, 58, 71);
}
.contact_qoat{
   color: rgb(255, 255, 255);
}
#selection{
   color: #3C3A47CC;
}
address{
   font-size: 32px;
   font-weight: 300;
   color: #373737;
}
.link,button{
   font-weight: 400;
   text-decoration: none;
   color: rgb(159,118,87) ;
}
.link:hover{
   color: black;
}
form input,form textarea,button{
   font-family: 'Poppins',sans-serif;
   line-height: 1.55;
   font-size: 18px;
}
/* layout */
.contact_page,
.copyright {
    width: 80%;
    min-width: 640px;
    max-width: 35rem;
    margin: 0 auto;
}

.container ,.liveaddress {
    margin: 0 auto;
    width: 80%;
}
.container_2{
   margin: 0 auto;
   width: 95%;
}
.gallary{
   margin-bottom: 64px;
}
#home,.container,.liveaddress{
   padding: 8rem 0px;
   text-align: center;
}
.home_element{
   margin-top: 100px;
}
.home_element>h2{
   margin-top:15px;
   margin-bottom: 15px;
}
.home_element>button{
   margin-top: 55px;
   background-color: rgb(189, 189, 189);
   padding: 1rem;
   border-radius: 1px;
   color: #000000;
}
.home_element>button:hover{
   background-color: black;
   color: azure;
}
.item{
   min-width: 640px;
   max-width: 35rem;
   text-align: center;
   margin: auto;
   font-weight: 500;
   margin-bottom: 30px;
}
#gallary{
   background-color:#EFF0EA ;
   width: 100%;
   text-align: center;
   padding: 10rem 0px;

}
#cover_gallary{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
img{
   width: 100%;
   max-width: 378px;
   max-height: 480px;
}
.gallary_img{
   text-align: left;
   margin: 0 auto;
}
.gallary_img>p{
   max-width: 378px;
   padding: 6px 0;
}
.gallary_img>h4{
   padding: 10px 0;
}
#dark{
   width: auto;
}
.contact_title{
   font-weight: 278;
   font-size: 18px;
   letter-spacing: 4px;
   color: rgba(255, 255, 255,.8);
}
.contact_qoat{
   font-weight: 700;
   letter-spacing: -2px;
   font-size: 43px;
}
#gallary>p{
   font-weight: 700;
}
#gallary>a{
   color: #874e23;
   text-decoration: none;
   cursor: auto;
   background-color: transparent;  
}
#dark label {
   color: rgba(255, 255, 255,.8);
   margin: 1rem auto;
   width: 35.5rem;
   letter-spacing: 4px;
   display: block;
   text-align: left;
   margin-bottom:0.7rem;
}
#dark input {
   background-color: rgba(255, 255, 255, 0.102);
   margin: 0.5rem auto;
   width: 35.5rem;
   height: 48px;
   font-size: 24px;
   font-family: 'Poppins', sans-serif;
   color: rgba(255, 255, 255,0.8);
}
#dark textarea {
   font-size: 24px;
   font-family: 'Poppins', sans-serif;
   background-color: rgba(255, 255, 255, 0.102);
   color: rgba(255, 255, 255,0.8);
   width: 35.5rem;
   height: 15rem;
   padding-bottom: 1rem;
}
#dark button{
   font-weight:700;
   background-color: rgba(18, 16, 16, 0.102);
   margin: 1rem auto;
   width: 35.5rem;
   height: 48px;
   color: rgba(255, 255, 255,0.8) ;
   border: 1px;
   border-color:rgba(255, 255, 255,0.8) ;
}
#dark button:hover{
   color: black;
   background-color: rgba(255, 255, 255,0.8) ;
}
#dark p{
   margin-top: 24px;
}
.address{
   margin: 24px auto 88px;
   font-size: 32px;
   letter-spacing: -2px;
}
.copyright{
   margin-top:80px ;
}
.social-icons li {
   display: inline-block; 
   margin-right: 10px; 

}
.social-icons a {
color: #000000;
width: 3rem;
height: 3rem;
}